build/
.idea/
node_modules/
.cache/
*.DS_Store

# generated or manualy retrieved files
antora-playbook-content-for-preview.yml
/scripts/htmltest/htmltest
/scripts/htmltest/config/htmltest.log

# Local Netlify folder
.netlify
