site:
  title: Bonita Documentation
  # features that depend on the site URL: https://docs.antora.org/antora/2.3/playbook/site-url/#when-should-the-site-url-be-set
  url: https://documentation.bonitasoft.com/
  start_page: 2021.1@bonita::index.adoc
  robots: allow

# see https://docs.antora.org/antora/2.3/playbook/configure-runtime/
runtime:
  cache_dir: ./.cache/antora

content:
  # When adding a new url, add a new entry in generate-content-for-preview-antora-playbook.js to manage PR preview
  # The site preview only use the latest declared branch for each source
  sources:
    - url: https://github.com/bonitasoft/bonita-cloud-doc.git
      branches:
        - master
    - url: https://github.com/bonitasoft/bonita-doc.git
      branches:
        - archives
        - 7.3
        - 7.4
        - 7.5
        - 7.6
        - 7.7
        - 7.8
        - 7.9_asciidoctor
        - 7.10_asciidoctor
        - 7.11_asciidoctor
        - 7.12_asciidoc
        - 2021.2
    - url: https://github.com/bonitasoft/bonita-ici-doc.git
      branches:
        - master
    - url: https://github.com/bonitasoft/bonita-continuous-delivery-doc.git
      branches:
        - 3.4
ui:
  bundle:
    url: ./resources/antora-ui-bundle.zip

asciidoc:
  extensions:
    - ./lib/source-url-include-processor.js
    - ./lib/json-config-ui-block-macro.js
    - ./lib/inline-man-macro.js
    - ./lib/multirow-table-head-tree-processor.js
    - ./lib/swagger-ui-block-macro.js
    - ./lib/tabs-block.js
urls:
  html_extension_style: drop
