site:
  title: Bonita Documentation
  # features that depend on the site URL: https://docs.antora.org/antora/2.3/playbook/site-url/#when-should-the-site-url-be-set
  # when building for local usage, this is overridden.
  url: https://bonitasoft.github.io/
  start_page: bonita::index.adoc
  robots: disallow

# see https://docs.antora.org/antora/2.3/playbook/configure-runtime/
runtime:
  cache_dir: ./.cache/antora

content:
  sources:
    #    - url: https://github.com/alachambre/antora-sources-test.git
    #      branches: [master, 7.11]
    #    - url: git@github.com:alachambre/antora-source-api.git
    #    - url: https://github.com/alachambre/antora-sources-test-2.git

    - url: https://github.com/bonitasoft/bonita-ici-doc.git
      branches: [master]
    - url: https://github.com/bonitasoft/bonita-doc.git
      branches: [7.4_asciidoc, 7.5_new, 7.6_asciidoctor, 7.7_asciidoctor]
ui:
  bundle:
    url: ./resources/antora-ui-bundle.zip
  # Ensure we have a .nojekyll file to avoid Jekyll generation when using github-pages
  # https://docs.antora.org/antora/2.3/publish-to-github-pages/#use-the-supplemental-ui
  supplemental_files:
    - path: ui.yml
      contents: |
        static_files: [ .nojekyll ]
    - path: .nojekyll

asciidoc:
  extensions:
    - ./lib/source-url-include-processor.js
    - ./lib/json-config-ui-block-macro.js
    - ./lib/inline-man-macro.js
    - ./lib/multirow-table-head-tree-processor.js
    - ./lib/swagger-ui-block-macro.js
    - ./lib/tabs-block.js
urls:
  html_extension_style: drop
