site:
  title: Bonita Documentation
  # features that depend on the site URL: https://docs.antora.org/antora/2.3/playbook/site-url/#when-should-the-site-url-be-set
  url: https://documentation.bonitasoft.com/
  start_page: bonita::index.adoc
  robots: allow

# see https://docs.antora.org/antora/2.3/playbook/configure-runtime/
runtime:
  cache_dir: ./.cache/antora
  log:
    # use pretty even on CI
    format: pretty
    # set to info to get details from the Antora extensions
    level: info
    # Antora exits with a non-zero exit code if an error is logged -> https://docs.antora.org/antora/latest/playbook/runtime-log-failure-level
    failure_level: error

content:
  # When adding a new url, add a new entry in generate-content-for-preview-antora-playbook.js to manage PR preview
  # The site preview only use the latest declared branch for each source
  sources:
    - url: https://github.com/bonitasoft/bonita-cloud-doc.git
      branches:
        - "master"
    - url: https://github.com/bonitasoft/bonita-doc.git
      branches:
        - "archives"
        - "7.8"
        - "7.9"
        - "7.10"
        - "7.11"
        - "2021.1"
        - "2021.2"
        - "2022.1"
        - "2022.2"
        - "2023.1"
    - url: https://github.com/bonitasoft/bonita-labs-doc.git
      branches:
        - "master"
    - url: https://github.com/bonitasoft/bonita-continuous-delivery-doc.git
      branches:
        - "3.4"
        - "3.5"
        - "3.6"
    - url: https://github.com/bonitasoft/bonita-test-toolkit-doc.git
      branches:
        - "1.0"
ui:
  bundle:
    url: https://github.com/bonitasoft/bonita-documentation-theme/releases/download/v1.10.0/bonita-documentation-theme-v1.10.0.zip

antora:
  extensions:
    - require: ./lib/antora/versions-sorter-extension.js

asciidoc:
  # Only enable for preview, we don't care for production and it can have performance impacts
  # https://docs.antora.org/antora/3.0/playbook/asciidoc-sourcemap/
  sourcemap: false

urls:
  html_extension_style: drop
  redirect_facility: netlify
  latest_version_segment: latest
  latest_prerelease_version_segment: next
  latest_version_segment_strategy: redirect:to
