name: Notify Content Change

on:
  workflow_call:
    inputs:
        component:
            required: true
            type: string
            description: "Name of component which triggers the build"

jobs:
  notify_content_change:
    runs-on: ubuntu-24.04
    steps:
      - name: Send repository dispatch event to documentation site
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{secrets.GH_TOKEN_DOC_TRIGGER_WF}}
          repository: bonitasoft/bonita-documentation-site
          event-type: source_documentation_change
          client-payload: '{ "component": "${{ inputs.component }}", "branch": "${{ github.ref_name }}", "commit_sha": "${{ github.sha }}", "repository_url": "${{ github.server_url }}/${{ github.repository }}" }'
