name: Publish production

on:
  repository_dispatch:
    types: [ source_documentation_change ]
  workflow_dispatch:
   inputs:
      branch:
        required: false
        description: 'Branch of component'
      component:
        required: false
        description: 'Name of component which triggers the build'
  push:
    branches:
      - master
    paths:
      - 'resources/*'
      - 'antora-playbook.yml'
      - '.github/workflows/publish-production.yml'
      - 'netlify.toml'
jobs:
  deploy_to_netlify:
    runs-on: ubuntu-20.04
    env:
      GOOGLE_ANALYTICS_KEY: GTM-TXHBK7
      COMPONENT: ${{ github.event.client_payload.component || github.event.inputs.component }}
      BRANCH: ${{ github.event.client_payload.branch || github.event.inputs.branch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: ./.github/actions/build-setup
      - name: Install dependencies
        run: npm ci
      - name: Build docs
        run: GOOGLE_ANALYTICS_KEY=${{env.GOOGLE_ANALYTICS_KEY}} npm run build
      - name: Create deploy message if no component defined
        if: ( github.event_name == 'workflow_dispatch' ||  github.event_name == 'repository_dispatch' ) && env.COMPONENT == ''
        run:
          echo "deploy_message=Deploy ${{github.sha}} from manual request" >> $GITHUB_ENV
      - name: Create deploy message if component defined
        if: ( github.event_name == 'workflow_dispatch' ||  github.event_name == 'repository_dispatch' ) && env.COMPONENT != ''
        run:
          echo "deploy_message=Deploy ${{ env.COMPONENT }} ${{ env.BRANCH }} update" >> $GITHUB_ENV
      - name: Create deploy message if push or pull request
        if: github.event_name == 'push'
        run:
          echo "deploy_message=Deploy ${{ github.sha }}" >> $GITHUB_ENV
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: './build/site'
          production-deploy: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: ${{ env.deploy_message }}
          netlify-config-path: ./netlify.toml
          # no comment, we only publish to production, github commit status and environment are set correctly
          enable-pull-request-comment: false
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 10
