name: Publish production
# Allow only one running and one pending instance of this workflow. See https://github.com/bonitasoft/bonita-documentation-site/issues/192
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
concurrency: ${{ github.workflow }}

on:
  repository_dispatch:
    types: [source_documentation_change]
  workflow_dispatch:

  push:
    branches:
      - master
    paths:
      - ".github/actions/build-setup/**/*"
      - ".github/workflows/publish-production.yml"
      - ".nvmrc"
      - "resources/**/*"
      - "antora-playbook.yml"
      - "netlify.toml"
      - "package.json"
      - "package-lock.json"

permissions:
  # netlify: notify deployments
  deployments: write

jobs:
  deploy_to_netlify:
    runs-on: ubuntu-22.04
    env:
      GOOGLE_ANALYTICS_KEY: GTM-TXHBK7
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build Setup
        uses: ./.github/actions/build-setup

      - name: Build site
        run: GOOGLE_ANALYTICS_KEY=${{env.GOOGLE_ANALYTICS_KEY}} npm run build

      - name: Prepare site manifest
        run: gzip build/site/site-manifest.json

      - name: List the content of the generated site
        uses: ./.github/actions/log-built-site-details

      - name: Debug repository_dispatch event payload
        if: github.event_name == 'repository_dispatch'
        run: |
          echo "Client payload:"
          echo '${{ toJSON(github.event.client_payload) }}'

      - name: Create deploy message
        run: |
          case "${{ github.event_name }}" in
            workflow_dispatch)
              echo "deploy_message=site manual ${{ github.sha }}" >> $GITHUB_ENV
              ;;
            push)
              echo "deploy_message=site push ${{ github.sha }}" >> $GITHUB_ENV
              ;;
            repository_dispatch)
              echo "deploy_message=${{ github.event.client_payload.component }}-${{ github.event.client_payload.branch }} push ${{ github.event.client_payload.commit_sha }}" >> $GITHUB_ENV
              ;;
          esac

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          publish-dir: "./build/site"
          production-deploy: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: ${{ env.deploy_message }}
          netlify-config-path: ./netlify.toml
          # let us detect when secrets are not available when attempting to push to production
          fails-without-credentials: true
          github-deployment-description: ${{ env.deploy_message }}
          # no comment nor commit status, we only publish to production, the publishing information is available with the github environment
          enable-pull-request-comment: false
          enable-commit-comment: false
          enable-commit-status: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 10

      - name: Send message to Slack channel
        if: failure()
        uses: bonitasoft/notify-slack-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}
          channel-id: ${{ vars.RD_PLATFORM_SLACK_CHANNEL_ID }}
          message: |
            :red_circle:  Publish documentation in production failed.

            @channel *We need someone* !
