name: Update theme bundle

on:
  repository_dispatch:
    types: [new_theme_bundle]

env:
  release_name: ${{ github.event.client_payload.release }}
  release_notes_url: ${{ github.event.client_payload.release_notes_url }}
  bundle_file: ${{ github.event.client_payload.bundle_file }}
  bundle_url: ${{ github.event.client_payload.bundle_url }}

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write # push branch
      pull-requests: write # Create the Pull Request
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # Use a PAT to use a specific user for the git operations
          token: ${{ secrets.BONITA_CI_PAT }}

      - name: Setup git
        id: git-setup
        uses: bonitasoft/git-setup-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - name: Setup Perl environment
        uses: shogo82148/actions-setup-perl@v1.36.0

      - name: Update theme bundle in Antora playbook
        run: |
          echo "bundle_url=$bundle_url"
          perl -007 -i -pe 's?.*ui:.*\n.*bundle:.*\n.*url:.*?ui:\n  bundle:\n    url: '$bundle_url'?' antora-playbook.yml
          cat antora-playbook.yml    

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.BONITA_CI_PAT }}
          author: ${{ steps.git-setup.outputs.name}} <${{ steps.git-setup.outputs.email}}>
          committer: ${{ steps.git-setup.outputs.name}} <${{ steps.git-setup.outputs.email}}>
          commit-message: "feat(theme): update theme bundle to ${{ env.release_name }}"
          branch: "feat/update_theme_${{ env.release_name }}"
          delete-branch: true
          title: "feat(theme): update theme bundle to ${{ env.release_name }}"
          body: "Make Antora use the new bundle theme: ${{ env.bundle_file }}\nRelease notes: ${{ env.release_notes_url }}"
